body {
  font-family: "Inter", sans-serif;
  margin: 0;
}
.event-tag {
  display: inline-block;
  background-color: #ced4da;
  border-radius: 4px;
  padding: 2px 6px;
  margin-right: 4px;
  font-size: 0.8em;
}

.nav-bar-background1 {
  height: 7.5rem;
  width: 90rem;
  position: relative;
  background-color: var(--color-white);
  display: none;
  max-width: 100%;
}
.sac-state-logo1 {
  height: 2.688rem;
  width: 13.938rem;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.apply1,
.experience1,
.give1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  min-width: 3.625rem;
  z-index: 1;
}
.experience1,
.give1 {
  min-width: 7rem;
}
.give1 {
  min-width: 2.688rem;
}
.apply-group {
  margin: 0;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-black);
  font-family: var(--font-inter);
}
.branching-logic,
.nav-bar1 {
  display: flex;
  box-sizing: border-box;
}
.branching-logic {
  margin: 0;
  width: 17.063rem;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-3xs);
}
.nav-bar1 {
  align-self: stretch;
  background-color: var(--color-white);
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  padding: var(--padding-19xl) var(--padding-xl) var(--padding-20xl);
  gap: 43.75rem;
  top: 0;
  z-index: 99;
  position: sticky;
  max-width: 100%;
}
.spotlight-background1 {
  height: 8.875rem;
  width: 90rem;
  position: relative;
  background: linear-gradient(90deg, #006046, #021e14);
  display: none;
  max-width: 100%;
}
.volunteer-link1 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  z-index: 1;
}
.login-button-child {
  height: 2.188rem;
  width: 7.25rem;
  position: relative;
  border-radius: var(--br-8xs);
  background-color: var(--color-darkkhaki-100);
  display: none;
}
.login {
  position: relative;
  font-size: var(--font-size-base);
  display: inline-block;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
  min-width: 2.75rem;
  z-index: 1;
}
.condition-checker,
.login-button {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.login-button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs) var(--padding-16xl) var(--padding-5xs)
    var(--padding-18xl);
  background-color: var(--color-darkkhaki-100);
  border-radius: var(--br-8xs);
  flex-direction: row;
  z-index: 1;
}
.login-button:hover {
  background-color: var(--color-darkkhaki-200);
}
.condition-checker {
  flex-direction: column;
  padding: var(--padding-8xs) 0 0;
}
.input-provider,
.spotlight-element1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}

.branching-logic .apply-group a,
.branching-logic .apply-group a:hover,
.branching-logic .apply-group a:visited {
  font-weight: 600;
  display: block;
  color: var(--black);
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Make the anchor tags behave like block elements */
  padding: 8px 16px; /* Add padding to create button-like appearance */
  border-radius: 4px; /* Add border radius */
  font-family: inherit; /* Use inherited font */
  font-size: inherit; /* Use inherited font size */
  font-weight: bold; /* Set font weight */
  cursor: pointer; /* Change cursor to pointer on hover */
}

.spotlight-element1 {
  flex: 1;
  background: linear-gradient(90deg, #006046, #021e14);
  justify-content: space-between;
  padding: var(--padding-30xl) var(--padding-103xl) var(--padding-30xl)
    var(--padding-75xl);
  gap: var(--gap-xl);
}
.input-provider {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 0 var(--padding-21xl);
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}

#event-list-header {
  position: relative;
  left: 50px;
}
.event-list {
  position: relative;
  top: -530px;
  left: 500px;
}
.event-box {
  position: relative;
  /* Adjust these values as needed */
  top: 500px !important;
  width: 400px;
  left: 690px;
  aspect-ratio: 5 / 1;
  /*margin-bottom: 800px !important;*/
}
.events-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.event-name {
  font-size: 24px;
  font-weight: bold;
}
.event-description {
  font-size: 18px;
  margin-bottom: 10px;
}
.event-date {
  font-size: 16px;
}
.event-box {
  background-color: #f4f4f4;
  border: 1px solid #037a43;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
}
.image-modifier {
  display: flex;
  box-sizing: border-box;
}
.image-modifier {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 1.813rem;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-darkslategray-200);
  font-family: var(--font-inter);
}

.events-page {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 var(--padding-226xl);
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .nav-bar1 {
    gap: 21.875rem;
  }
}
@media screen and (max-width: 1050px) {
  .volunteer-link1 {
    font-size: var(--font-size-10xl);
  }
  .constant-provider {
    display: none;
  }
  .box-block {
    max-width: 100%;
  }
}
@media screen and (max-width: 750px) {
  .branching-logic {
    display: none;
  }
  .nav-bar1 {
    gap: 10.938rem;
  }
  .spotlight-element1 {
    flex-wrap: wrap;
    justify-content: center;
    padding-left: var(--padding-28xl);
    padding-right: var(--padding-42xl);
    box-sizing: border-box;
  }
  .divider-dividend {
    gap: var(--gap-lgi);
  }
  .delimiter-parser {
    gap: var(--gap-9xl);
  }
  .frame-parent27,
  .frame-parent28,
  .frame-parent29,
  .frame-parent30,
  .frame-parent31,
  .frame-parent32,
  .frame-parent33,
  .frame-parent34,
  .frame-parent35 {
    flex-wrap: wrap;
  }
  .frame-parent26 {
    min-width: 100%;
  }
  .frame-parent23 {
    gap: var(--gap-11xl);
  }
}
@media screen and (max-width: 450px) {
  .nav-bar1 {
    gap: var(--gap-68xl);
  }
  .volunteer-link1 {
    font-size: var(--font-size-3xl);
  }
  .spotlight-element1 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .alignment-aligner,
  .circle-core {
    flex-wrap: wrap;
  }
  .data-flow-control-parent {
    height: auto;
    min-height: 944;
  }
}
